.container {
    background-image: url(../img/coffee.jpg);
    background-size: cover;
    height: 100%;
    padding-bottom: 1%;
}
.container>h1 {
    text-align: center;
    padding-top: 200px;
    color: #fff;
    font-size: 2em;
}
.signupBox h3 {
    color: #333;
    font-size: 1.5em;
    text-align: left;
    padding: 20px 0;
}
.signupBox p {
    line-height: 1.5;
    font-size: 1em;
    color: #333;
    font-weight: 500;
}
.signupBox span {
    color: #006633;
}
.signup {
    max-width: 600px;
    margin: 50px auto 150px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
.singupImg {
    padding: 50px 0 40px;
    border-bottom: 1px solid #ccc;
}
.singupImg>img {
    max-width: 200px;
}
.singupImg>h3 {
    text-align: center;
    color: #333;
}
.singupImg>p {
    font-size: 1.15em;
    color: #333;
    font-weight: 400;
}

/* 인증방식 선택 */
.certification {
    width: 90%;
    margin: 0 auto;
    padding: 0px 0 30px;
}
.certification>h3 {
    padding-bottom: 20px;
}
.certification>p {
    text-align: left;
    padding-bottom: 10px;
    margin-top: -5px;
    font-weight: 400;
}
.certification_Box {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.certification_Box>div {
    width: 50%;
}
.certification_Box>div:first-child {
    border-right: 2px solid #ccc;
}
.certification_Box>div>.ImgBox {
    height: 50%;
}
.certification_Box>div>.TextBox {
    height: 50%;
}
.certification_Box>div>.TextBox>h4 {
    font-size: 1.2em;
    color: #333;
}
.certification_Box>div>.TextBox>p {
    font-size: .9em;
    font-weight: 500;
    color: #333;
    padding: 10px 10px 20px 10px;
}
.certification_Box>div>.TextBox>span {
    background-color: #666;
    padding: 5px 10px;
    border-radius: 3px;
}
.certification_Box>div>.TextBox>span:hover>a {
    opacity: .7;
    text-decoration: underline;
}
.certification_Box>div>.TextBox>span>a {
    font-size: 1em;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .container>h1 {
        padding-top: 125px;
    }
    .signup {
        width: 95%;
    }
    .certification_Box>div>.TextBox>p {
        font-size: .8em;
    }
}