@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

.innerBox {
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.title {
  color: #000;
  font-size: 2em;
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

/* fullscreen_menu */
.fullscreen_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f6f5ef;
  z-index: 100;
}
.fullscreen_menu .close_btn {
  position: relative;
  top: 3%;
  left: 90%;
}
.fullscreen_menu .close_btn a {
  display: inline-block;
  color: #333;
}
.fullscreen_menu .close_btn a img {
  width: 30px;
}
.fullscreen_menu .menu_wrap {
  position: absolute;
  top: 50%;
  left: 30%;
  margin: -82px 0 0 -35px;
}
.fullscreen_menu .menu_wrap li {
  padding: 10px;
  list-style: none;
}
.fullscreen_menu .menu_wrap li a {
  font-size: 3em;
  font-weight: 500;
  display: inline-block;
  color: #00b050;
  text-decoration: none;
}

/* mobile */
.Mobile {
  display: none;
  max-width: 540px;
  background-color: #f6f5ef;
  float: right;
}
.Mobile .mobileDelete {
  position: absolute;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  cursor: pointer;
}
.Mobile .mobileDelete:hover {
  opacity: 0.5;
}
.Mobile #mobilenav .mobileMenu {
  border: 1px solid #666;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box {
  background-color: #f6f5ef;
  text-indent: 10px;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box > a {
  background: url(../img/mob_gnb_arrow_down_w.png) no-repeat;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box a {
  font-weight: 500;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box .gnb {
  font-size: 1.5em;
  padding: 25px 0;
  line-height: 50px;
}
@media screen and (max-width: 767px) {
  .Mobile #mobilenav .mobileMenu > .mobileli_Box .mobileSub {
    display: none;
  }
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box .mobileSub li {
  border-bottom: 1px solid #666;
  background-color: #dad7c4;
  line-height: 20px;
  padding: 10px 0;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box .mobileSub li:first-child {
  border-top: 1px solid #666;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box .mobileSub li a {
  font-size: 1.25em;
  color: #666;
}
.Mobile #mobilenav .mobileMenu > .mobileli_Box .mobileSub li a:hover {
  color: #00b050;
  text-decoration: underline;
}

/* header */
header {
  width: 100%;
  position: fixed;
  padding: 10px 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 5px 0;
  }
}
header.sticky {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
header.sticky > .innerBox > nav > #nav > li > a {
  color: #333;
}
header.sticky > .innerBox > .mobileheader > a {
  color: #333;
}
header:hover {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
header:hover > .innerBox > nav > #nav > li > a, header:hover > .innerBox > .mobileheader > a {
  color: #333;
}
header .innerBox {
  width: 98%;
}
header .innerBox .mobileheader {
  display: none;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  header .innerBox .mobileheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
header .innerBox .mobileheader a {
  margin: auto 0;
  color: #fff;
}
header .innerBox .mobileheader a i {
  font-size: 1.5em;
}
header .innerBox .mobileheader img {
  width: 50px;
}
header .innerBox .logo {
  padding-left: 20px;
  width: 75px;
}
@media screen and (max-width: 1024px) {
  header .innerBox .logo {
    display: none;
  }
}
header .innerBox img {
  width: 100%;
}

/* #mainbanner */
#mainBanner {
  margin: 0 auto;
}
#mainBanner .innerBox {
  max-width: 2000px;
  margin: 0 auto;
}
#mainBanner .innerBox .img .first {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #mainBanner .innerBox .img .first {
    display: none;
  }
}
#mainBanner .innerBox .img .second {
  display: none;
}
@media screen and (max-width: 1024px) {
  #mainBanner .innerBox .img .second {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .img .second {
    display: none;
  }
}
#mainBanner .innerBox .img .third {
  display: none;
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .img .third {
    display: block;
  }
}
#mainBanner .innerBox .mainText {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  #mainBanner .innerBox .mainText {
    top: 25%;
  }
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .mainText {
    top: 25%;
  }
}
#mainBanner .innerBox .mainText .main_text1 {
  font-size: 2em;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .mainText .main_text1 {
    font-size: 1.75em;
  }
}
#mainBanner .innerBox .mainText .main_text2 {
  font-size: 5em;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .mainText .main_text2 {
    font-size: 4em;
  }
}
@media screen and (max-width: 480px) {
  #mainBanner .innerBox .mainText .main_text2 {
    font-size: 3em;
  }
}
#mainBanner .innerBox .mainText .main_text3 {
  font-size: 1.25em;
}
@media screen and (max-width: 767px) {
  #mainBanner .innerBox .mainText .main_text3 {
    font-size: 1em;
  }
}

/* #container */
#container {
  /* .journey */
  /* .lifeStyle */
  /* .starbucksMenu */
  /* .starbucks_machine */
  /* .starBucks_bottom */
}
#container > div {
  margin-top: 100px;
}
#container .journey {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}
#container .journey .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .journey .innerBox .journey_box {
  padding: 0px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  overflow: hidden;
}
#container .journey .innerBox .journey_box:hover > a > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#container .journey .innerBox .journey_box:hover > .journey_textbox {
  margin-top: -10px;
}
#container .journey .innerBox .journey_box a {
  overflow: hidden;
}
#container .journey .innerBox .journey_box a p {
  color: #fff;
}
#container .journey .innerBox .journey_box a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
#container .journey .innerBox .journey_box .journey_textbox {
  position: absolute;
  top: 40%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .journey .innerBox .journey_box .journey_textbox p {
  font-weight: 500;
  color: #fff;
}
#container .journey .innerBox .journey_box .journey_textbox .journey_text1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
#container .journey .innerBox .journey_box .journey_textbox .journey_text2 {
  font-size: 3em;
}
@media screen and (max-width: 1024px) {
  #container .lifeStyle {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}
#container .lifeStyle .innerBox .title {
  color: #000;
  font-size: 2em;
  padding-bottom: 0px;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .title {
    padding-left: 20px;
  }
}
#container .lifeStyle .innerBox .Style_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .Style_box {
    display: block;
  }
}
#container .lifeStyle .innerBox .Style_box > div:hover > .Style_text {
  margin-top: -20px;
}
#container .lifeStyle .innerBox .Style_box > div:hover > .Style_img > a > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#container .lifeStyle .innerBox .Style_box > div > .Style_text, #container .lifeStyle .innerBox .Style_box > div > .Style_img > a > img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .lifeStyle .innerBox .Style_box .Style_box1 {
  padding: 0px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .Style_box .Style_box1 {
    padding: 20px;
  }
}
#container .lifeStyle .innerBox .Style_box .Style_box1 .Style_img {
  overflow: hidden;
}
#container .lifeStyle .innerBox .Style_box .Style_box1 .Style_img a img {
  width: 100%;
}
#container .lifeStyle .innerBox .Style_box .Style_box1 .Style_text {
  position: absolute;
  top: 60%;
  left: 5%;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .Style_box .Style_box1 .Style_text {
    top: 25%;
    left: 10%;
  }
}
#container .lifeStyle .innerBox .Style_box .Style_box1 .Style_text h3 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 2em;
}
#container .lifeStyle .innerBox .Style_box .Style_box2 {
  padding: 0px 0 20px 20px;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .Style_box .Style_box2 {
    padding: 20px;
  }
}
#container .lifeStyle .innerBox .Style_box .Style_box2 .Style_img {
  overflow: hidden;
}
#container .lifeStyle .innerBox .Style_box .Style_box2 .Style_img a img {
  width: 100%;
}
#container .lifeStyle .innerBox .Style_box .Style_box2 .Style_text {
  position: absolute;
  top: 60%;
  left: 55%;
}
@media screen and (max-width: 767px) {
  #container .lifeStyle .innerBox .Style_box .Style_box2 .Style_text {
    top: 75%;
    left: 10%;
  }
}
#container .lifeStyle .innerBox .Style_box .Style_box2 .Style_text h3 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 2em;
}
#container .starbucksMenu {
  background-color: #1e3932;
  padding: 50px 0;
}
#container .starbucksMenu .innerBox p {
  color: #fff;
}
#container .starbucksMenu .innerBox > p {
  text-align: center;
  font-weight: 500;
}
#container .starbucksMenu .innerBox .menu_text01 {
  font-size: 1.25em;
  color: #00b050;
}
#container .starbucksMenu .innerBox .menu_text02 {
  padding-top: 25px;
  font-size: 2em;
}
#container .starbucksMenu .innerBox .MenuBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#container .starbucksMenu .innerBox .MenuBox div {
  padding-top: 20px;
}
#container .starbucksMenu .innerBox .MenuBox div a {
  overflow: hidden;
}
#container .starbucksMenu .innerBox .MenuBox div a:hover > img {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  opacity: 0.75;
}
#container .starbucksMenu .innerBox .MenuBox div a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
#container .starbucksMenu .innerBox .MenuBox div p {
  text-align: center;
  cursor: pointer;
}
#container .starbucksMenu .innerBox .MenuBox div p:hover {
  color: #00b050;
  text-decoration: underline;
}
#container .starbucksMenu .innerBox .MenuBox div .menuBox_text1 {
  padding-top: 20px;
}
#container .starbucksMenu .innerBox .MenuBox div .menuBox_text2 {
  padding-top: 5px;
}
#container .starbucks_machine {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#container .starbucks_machine h2 {
  padding-left: 20px;
}
#container .starbucks_machine .machineBox .machine_innerBox {
  overflow: hidden;
  padding: 0 10px;
}
#container .starbucks_machine .machineBox .machine_innerBox .machine_Img:first-child {
  padding-left: 5px;
}
#container .starbucks_machine .machineBox .machine_innerBox .machine_Img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
#container .starbucks_machine .machineBox .machine_innerBox .machine_box {
  position: absolute;
  top: 0%;
  width: calc(100%/20);
  margin: 0 auto;
  background-color: #1e3932;
}
#container .starBucks_bottom {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
#container .starBucks_bottom .bottom_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner {
    display: block;
  }
}
#container .starBucks_bottom .bottom_banner > div {
  width: calc(100%/3);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner > div {
    width: 100%;
  }
}
#container .starBucks_bottom .bottom_banner > div:hover > a > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#container .starBucks_bottom .bottom_banner > div:hover > .bottom_Box > .bottom_text1 {
  margin-top: -20px;
}
#container .starBucks_bottom .bottom_banner > div .secondImg {
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner > div .secondImg {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
#container .starBucks_bottom .bottom_banner > div a {
  display: block;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner > div a {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
#container .starBucks_bottom .bottom_banner > div a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner > div a img {
    width: 100%;
  }
}
#container .starBucks_bottom .bottom_banner > div .bottom_Box {
  position: absolute;
  top: 50%;
  left: 10%;
}
@media screen and (max-width: 767px) {
  #container .starBucks_bottom .bottom_banner > div .bottom_Box {
    top: 30%;
  }
}
#container .starBucks_bottom .bottom_banner > div .bottom_Box p {
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .starBucks_bottom .bottom_banner > div .bottom_Box .bottom_text1 {
  font-size: 1.5em;
  padding-bottom: 10px;
}
#container .starBucks_bottom .bottom_banner > div .bottom_Box .bottom_text2 {
  font-size: 2.5em;
}

/* footer */
footer {
  background-color: #1e3932;
}
footer .img {
  position: relative;
  max-width: 75px;
  margin: 0 auto;
}
footer .img img {
  margin-top: -40px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  footer .innerBox {
    width: 98%;
    margin: 0 auto;
  }
}
footer .innerBox > div {
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  footer .innerBox > div {
    padding: 20px 0;
  }
}
footer .innerBox > div ul li a {
  color: #666;
}
footer .innerBox > div ul li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
footer .innerBox .footTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #666;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footTop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
footer .innerBox .footTop ul li {
  padding: 8px 0;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footTop ul li {
    padding: 5px 0;
  }
}
footer .innerBox .footTop ul li.first_text > a {
  color: #00b050 !important;
  font-size: 1.25em;
  font-weight: 500;
}
footer .innerBox .footTop ul li a {
  color: #fff;
  font-size: 0.9em;
}
footer .innerBox .footTop ul li a img {
  width: 20px;
  padding-left: 5px;
}
footer .innerBox .footBottom .BottomBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footBottom .BottomBox1 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  footer .innerBox .footBottom .BottomBox1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
footer .innerBox .footBottom .BottomBox1 li.first_text > a {
  color: #00b050 !important;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footBottom .BottomBox1 li {
    padding: 8px 0;
  }
}
footer .innerBox .footBottom .BottomBox1 li a {
  color: #fff;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
footer .innerBox .footBottom .BottomBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  width: 70%;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footBottom .BottomBox2 {
    padding: 0 0 20px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
  }
}
footer .innerBox .footBottom .BottomBox2 li a {
  color: #fff;
  font-size: 1em;
}
@media screen and (max-width: 767px) {
  footer .innerBox .footBottom p {
    text-align: center;
  }
}
footer .innerBox .footBottom p a {
  color: #fff;
  font-size: 1em;
}

#search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
  opacity: 1;
  visibility: visible;
}
#search .search-header {
  height: 95px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  #search .search-header {
    height: 60px;
  }
}
#search .search-header form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#search .search-header form input {
  height: 95px;
  padding: 30px 35px;
  padding-right: 0 !important;
  outline: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  #search .search-header form input {
    height: 60px;
    padding: 18px 25px;
    font-size: 18px;
  }
}
#search .search-header .btn-close {
  width: 90px;
  height: 90px;
  cursor: pointer;
  background: url(../img/icon-x.svg) 50% 50% no-repeat;
  display: block;
  text-indent: -999em;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  #search .search-header .btn-close {
    width: 60px;
    height: 60px;
  }
}

#search.active {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
#search.active .search-header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}