//변수값들 선언하기
$메인컬러: #f6f5ef;
$로그인컬러: #1e3932;
$링크서브: #00b050;
$설명글자: #666;
$제목글자: 24px;
$기본글자: 14px;

$pc1420: 1420px;
$pc1024: 1024px;
$mobile767: 767px;
$mobile480: 480px;

//position mixin
@mixin pos($p:absolute, $top:null, $right:null, $bottom:null, $left:null) {
    position: $p;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
//respond mixin
@mixin respond($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}
body {
    @include respond($mobile767) {
        font-size: 12px;
    }
}
.innerBox {
    max-width: $pc1420;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.title {
    color: #000;
    font-size: 2em;
    padding-bottom: 30px;
    @include respond($mobile767) {
        text-align: center;
    }
}

/* mobile */
.app.mobileActive {
    margin-left: 0;
    transition: all 0.6s ease;
}
.app {
    @include pos($p:fixed);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    margin-left: -110%;
    z-index: 999;
    display: none;
    transition: all 0.6s ease;
    @include respond($pc1024) {
        display: block;
    }
    .sidebar {
        @include pos($p:absolute, $top:0);
        width: 17em;
        height: 100%;
        overflow: hidden;
        background-color: #19222a;
        -webkit-transform: translateZ(0);
        visibility: visible;
        -webkit-backface-visibility: hidden;
        div {
            background-color: #00b050;
            color: #fff;
            width: 100%;
            display: flex;
            padding: 1em 1em 0.75em 1em;
            i {
                position: relative;
                left: 70%;
                cursor: pointer;
                font-size: 1.25em;
                margin-top: -0.2em;
                &:hover {
                    opacity: .5;
                }
            }
        }
        .sidebar-nav {
            @include pos($p:fixed);
            background-color: #19222a;
            height: 100%;
            font-weight: 400;
            font-size: 1.2em;
            overflow: auto;
            padding-bottom: 6em;
            z-index: 9;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            ul {
                display: block;
                padding: 0;
                margin: 0;
                &>li:hover .nav-flyout {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                li {
                    margin-left: 0;
                    padding-left: 0;
                    display: inline-block;
                    width: 100%;
                    a {
                        @include pos($p:relative);
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 0.75em;
                        padding: 1.05em	1em;
                        display: block;

                        &:hover {
                            background-color: #00b050;
                            -webkit-transition: all 0.6s ease;
                            -moz-transition: all 0.6s ease;
                            transition: all 0.6s ease;
                        }
                        &::after {
                            @include pos($p:absolute, $top:45%);
                            content: '\f125';
                            font-family: ionicons;
                            font-size: 0.5em;
                            width: 10px;
                            color: #fff;
                            right: 0.75em;
                        }
                        i {
                            font-size: 1.8em;
                            padding-right: 0.5em;
                            width: 9em;
                            display: inline;
                            vertical-align: -3px;

                        }
                        span {

                        }
                    }
                    .nav-flyout {
                        @include pos($p:absolute, $top:0, $left:2.5em);
                        background-color: #080D11;
                        z-index: 9;
                        height: 100vh;
                        -webkit-transform: translateX(100%);
                        -moz-transform: translateX(100%);
                        -ms-transform: translateX(100%);
                        -o-transform: translateX(100%);
                        transform: translateX(100%);
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        li {
                            a {
                                :hover {
                                    background-color: #00b050;
                                }
                                i {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* header */
header {
    @include pos($p:fixed);
    width: 100%;
    padding-top: 10px;
    z-index: 100;
    transition: all 0.6s ease;
    &.sticky {
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        &>.innerBox>nav>#nav>li>a {
            color: #333;
        }
        &>.innerBox>.mobileheader>a, &>.innerBox>.mobileheader>div>a, &>.innerBox>.main-menu>.item>.item_name, &>.innerBox>.main-menu>.headerIcon>a {
            color: #333;
        }
    }
    &:hover {
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
    }
    &:hover>.innerBox>nav>#nav>li>a, &:hover>.innerBox>.mobileheader>a, &:hover>.innerBox>.mobileheader>div>a, &:hover>.innerBox>.main-menu>.item>.item_name, &:hover>.innerBox>.main-menu>.headerIcon>a{
        color: #333;
    }
    .innerBox {
        width: 98%;
        display: flex;
        justify-content: space-between;
        .mobileheader {
            display: none;
            @include respond($pc1024) {
                display: flex;
                width: 95%;
                margin: 0 auto;
                justify-content: space-between;
            }
            a {
                margin: auto 0;
                color: #fff;
                font-size: 2em;
                transition: all 0.6s ease;
                &:hover {
                    color: $링크서브;
                }
                i {

                }
            }
            img {
                @include pos($p:relative);
                width: 50px;
                transform: translateX(75%);
            }
            .MobileIcon {
                margin: auto 0;
                a {
                    padding-left: 5px;
                    &:hover {
                        color: $링크서브;
                    }
                }
                .Icon_last {
                    padding-bottom: 30px;
                }
            }
            .Mobile_UserBox {
                @include pos($p:fixed, $top:70px, $right:3%);
                width: 200px;
                background-color: #fff;
                border-radius: 0 0 5px 5px;
                text-indent: 20px;
                padding: 20px 0;
                visibility: hidden;
                transition: 0.5s;
                a {
                    padding: 5px 0;
                    display: flex;
                    font-size: 1em;
                    color: #333;
                    font-weight: 500;
                    &:hover {
                        color: $링크서브;
                        text-decoration: underline;
                    }
                }
            }
            .bg {
                visibility: visible;
            }
        }
        .logo {
            padding-left: 20px;
            width: 75px;
            @include respond($pc1024) {
                display: none;
            }
        }
        img {
            width: 100%;
        }
        .main-menu {
            @include pos($p:relative);
            width: 90%;
            margin: auto 0;
            display: flex;
            justify-content: space-between;
            @include respond($pc1024) {
                display: none;
            }
            &>.item>.item_name, &>.headerIcon>a {
                color: #fff;
            }
            .item {
                transition: all 0.6s ease;
                &:hover>.item_contents {
                    display: block;
                }
                .item_name {
                    padding: 30px 20px 35px;
                    font-size: 1.1em;
                    font-weight: 500;
                    &:hover {
                        color: $링크서브;
                    }
                }
                .item_contents {
                    @include pos($p:fixed, $top:95px, $left:0);
                    width: 100%;
                    display: none;
                    transition: all 0.6s ease;
                    &:hover {
                        display: block;
                    }
                    .contents_menu {
                        background-color:#1e3932;
                        >.inner {
                            max-width: 1100px;
                            margin: 0 auto;
                            display: flex;
                            padding: 20px 0;
                            @include respond($pc1420) {
                                padding-left: 2%;
                            }
                            >li {
                                width: calc(100%/6);
                                h4 {
                                    padding: 3px 0 12px 0;
                                    font-size: 0.9em;
                                    color: $링크서브;
                                }
                                ul {
                                    li {
                                        padding: 2px 0px;
                                        cursor: pointer;
                                        &:hover>a {
                                            text-decoration: underline;
                                            color: $링크서브;
                                        }
                                        a {
                                            font-size: 0.8em;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .contents_texture {
                        padding: 26px 0;
                        font-size: 0.9em;
                        border-top: 1px solid #fff;
                        background-color: #1e3932;
                        .inner {
                            max-width: 1100px;
                            margin: 0 auto;
                            @include respond($pc1420) {
                                padding-left: 1%;
                            }
                            .inner {
                                h4 {
                                    color: $링크서브;
                                    font-weight: 700;
                                }
                                p {
                                    margin: 4px 0 14px;
                                    &:hover>a {
                                        text-decoration: underline;
                                        color: $링크서브;
                                    }
                                    a {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .headerIcon {
                margin-top: 22.5px;
                a {
                    font-size: 1.75em;
                    padding-left: 5px;
                    &:hover {
                        color: $링크서브;
                    }
                }
                .Icon_last {
                    padding-bottom: 15px;
                }
            }
        }
        .header_UserBox {
            @include pos($p:fixed, $top:95px, $left:50%);
            margin-left: 720px;
            transform: translateX(-100%);
            width: 200px;
            background-color: #fff;
            border-radius: 0 0 5px 5px;
            text-indent: 20px;
            padding: 20px 0;
            visibility: hidden;
            transition: 0.5s;
            @include respond($pc1420) {
                left: 100%;
                margin-left: 0;
            }
            @include respond($pc1024) {
                margin-left: 9999px;
            }
            a {
                padding: 5px 0;
                display: flex;
                font-size: 1em;
                color: #333;
                font-weight: 500;
                &:hover {
                    color: $링크서브;
                    text-decoration: underline;
                }
            }
        }
        .bg1 {
            visibility: visible;
        }
    }
}

/* #mainbanner */
#mainBanner {
    margin: 0 auto;
    .innerBox {
        max-width: 2000px;
        max-height: 925px;
        margin: 0 auto;
        .img {
            img {

            }
            .first {
                width: 100%;
                @include respond($pc1024) {
                    display: none;
                }
            }
            .second {
                display: none;
                @include respond($pc1024) {
                    display: block;
                }
                @include respond($mobile767) {
                    display: none;
                }
            }
            .third {
                display: none;
                @include respond($mobile767) {
                    display: block;
                }
            }
        }
        .mainText {
            @include pos($p:absolute, $top:35%);
            text-align: center;
            width: 100%;
            color: #fff;
            font-weight: 500;
            @include respond($pc1024) {
                top: 25%;
            }
            @include respond($mobile767) {
                top: 30%;
            }
            .main_text1 {
                font-size: 2em;
                margin-bottom: 50px;
                @include respond($mobile767) {
                    font-size: 1.75em;
                }
            }
            .main_text2 {
                font-size: 5em;
                margin-bottom: 50px;
                @include respond($mobile767) {
                    font-size: 4em;
                }
                @include respond($mobile480) {
                    font-size: 3em;
                }
            }
            .main_text3, .main_text4 {
                font-size: 1.25em;
                @include respond($mobile767) {
                    font-size: 1em;
                }
            }
            .main_text4 {
                margin-top: 10px;
            }
        }
    }
}

/* #container */
#container {
    >div {
        margin-top: 100px;
    }
    /* .journey */
    .journey {
        max-width: $pc1420;
        margin-left: auto;
        margin-right: auto;
        .innerBox {
            display: flex;
            justify-content: space-between;
            transition: all 0.6s ease;
            .journey_box {
                padding: 0px 5px;
                transition: all 0.6s ease;
                height: 100%;
                overflow: hidden;
                &:hover>a>img {
                    transform: scale(1.05);
                }
                &:hover>.journey_textbox {
                    margin-top: -10px;
                }
                a {
                    overflow: hidden;
                    p {
                        color: #fff;
                    }
                    img {
                        transition: all 0.6s ease;
                        width: 100%;
                    }
                }
                .journey_textbox {
                    @include pos($p:absolute, $top:40%);
                    transform: translateX(15%);
                    transition: all 0.6s ease;
                    p {
                        font-weight: 500;
                        color: #fff;
                    }
                    .journey_text1 {
                        font-size: 1.5em;
                        margin-bottom: 10px;
                    }
                    .journey_text2 {
                        font-size: 2.25em;
                    }
                }
            }
        }
    }
    /* .lifeStyle */
    .lifeStyle {
        @include respond($pc1024) {
            width: 98%;
            margin-left: auto;
            margin-right: auto;
        }
        .innerBox {
            .title {
                color: #000;
                font-size: 2em;
                @include respond($mobile767){
                    padding-bottom: 0px;
                    padding-left: 20px;
                }
            }
            .Style_box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                @include respond($mobile767){
                    display: block;
                }
                &>div:hover>.Style_text {
                    margin-top: -20px;
                }
                &>div:hover>.Style_img>a>img {
                    transform: scale(1.1);
                }
                &>div>.Style_text, &>div>.Style_img>a>img {
                    transition: all 0.6s ease;
                }
                .Style_text1 {
                    font-size: 1.5em;
                }
                .Style_text2  {
                    font-size: 2em;
                }
                .Style_text1, .Style_text2 {
                    padding-bottom: 10px;
                    color: #fff;
                    font-weight: 500;
                }
                .Style_box1 {
                    padding: 0px 20px 20px 0;
                    display: flex;
                    @include respond($mobile767){
                        padding: 20px;
                    }
                    .Style_img {
                        overflow: hidden;
                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .Style_text {
                        position: absolute;
                        top: 60%;
                        left: 5%;
                        @include respond($mobile767){
                            top: 30%;
                            left: 10%;
                        }
                    }
                }
                .Style_box2 {
                    padding: 0px 0 20px 20px;
                    @include respond($mobile767){
                        padding: 20px;
                    }
                    .Style_img {
                        overflow: hidden;
                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .Style_text {
                        @include pos($p:absolute, $top:60%, $left:55%);
                        @include respond($mobile767){
                            top: 80%;
                            left: 10%;
                        }
                    }
                }
            }
        }
    }

    /* .starbucksMenu */
    .starbucksMenu {
        background-color: $로그인컬러;
        padding: 50px 0;
        .innerBox {
            p {
                color: #fff;
            }
            >p {
                text-align: center;
                font-weight: 500;
            }
            .menu_text01 {
                font-size: 1.25em;
                color: $링크서브;
            }
            .menu_text02 {
                padding-top: 25px;
                font-size: 2em;
            }
            .MenuBox {
                display: flex;
                justify-content: space-between;
                div {
                    padding-top: 20px;
                    a {
                        overflow: hidden;
                        &:hover>img {
                            transform: scale(1.075);
                            opacity: .75;
                        }
                        img {
                            transition: all 0.6s ease;
                            width: 100%;
                        }
                    }
                    .menu_textBox {
                        position: absolute;
                        top: 92.5%;
                        margin-left: 175px;
                        p {
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                color: $링크서브;
                                text-decoration: underline;
                            }
                        }
                        .menuBox_text1 {

                        }
                        .menuBox_text2 {
                            padding-top: 20px;
                        }
                    }
                }
            }
        }
    }

    /* .starbucks_machine */
    .starbucks_machine {
        max-width: $pc1420;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        .machineBox{
            .machine_innerBox {
                overflow: hidden;
                padding-left: 10px;
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }
                &:hover>.machine_box {
                    visibility: visible;
                    opacity: 1;
                }
                .machine_Img {
                    transition: all 0.6s ease;
                    img {
                        width: 100%;
                    }
                }
                .machine_box {
                    @include pos($p:absolute, $top:0%);
                    width: calc(100%/20 - 10px);
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s;
                    background-color: $로그인컬러;
                    @include respond($pc1024) {
                        width: calc(100%/19.75);
                    }
                    @include respond($mobile767) {
                        width: calc(100%/18.5);
                    }
                    @include respond($mobile480) {
                        width: calc(100%/17.5);
                    }
                    p {
                        text-align: center;
                        position: relative;
                        &:hover>a {
                            color: $링크서브;
                            text-decoration: underline;
                        }
                        @include respond($pc1024) {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                        a {
                            color: #fff;
                            font-weight: 500;
                            font-size: 1.5em;
                        }
                    }
                    .machine_text1 {
                        top: 35%;
                        font-size: 0.75em;
                        @include respond($pc1024) {
                            top: 40%;
                        }
                        @include respond($mobile480) {
                            font-size: 1em;
                        }
                    }
                    .machine_text2 {
                        top: 40%;
                        font-size: .9em;
                        @include respond($pc1024) {
                            top: 45%;
                        }
                        @include respond($mobile480) {
                            font-size: 1.25em;
                        }
                    }
                    .machine_text3 {
                        top: 45%;
                        font-size: 0.6em;
                        -webkit-line-clamp: 2;
                        @include respond($pc1024) {
                            top: 50%;
                        }
                        @include respond($mobile480) {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    /* .starBucks_bottom */
    .starBucks_bottom {
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        @include pos($p:relative);
        .bottom_banner {
            display: flex;
            justify-content: space-between;
            @include respond($mobile767) {
                display: block;
            }
            >div {
                @include pos($p:relative);
                width: calc(100%/3);
                overflow: hidden;
                @include respond($pc1024) {
                    width: 100%;
                }
                &:hover>a>img {
                    transform: scale(1.1);
                }
                &:hover>.bottom_Box>.bottom_text1 {
                    margin-top: -20px;
                }
                a {
                    display: block;
                    img {
                        transition: all 0.6s ease;
                        width: 100%;
                    }
                }
                .bottom_first {
                    @include respond($mobile767) {
                        display: none;
                    }
                }
                .bottom_third {
                    display: none;
                    @include respond($mobile767) {
                        display: block;
                    }
                }
                .bottom_Box {
                    @include pos($p:absolute, $top:50%, $left:10%);
                    @include respond($mobile767) {
                        top: 45%;
                    }
                    p {
                        color: #fff;
                        font-weight: 500;
                        transition: all 0.6s ease;
                    }
                    .bottom_text1 {
                        font-size: 1.5em;
                        padding-bottom: 10px;
                    }
                    .bottom_text2 {
                        font-size: 2.25em;
                    }
                }
            }
        }
    }
}

/* footer */
footer {
    background-color: $로그인컬러;
    .img {
        @include pos($p:relative);
        max-width: 75px;
        margin: 0 auto;
        img {
            margin-top: -40px;
            width: 100%;
        }
    }
    .innerBox {
        @include respond($pc1420) {
            width: 98%;
            margin: 0 auto;
        }
        &>div {
            padding: 30px 0;
            @include respond($mobile767) {
                padding: 20px 0;
            }
        }
        &>div ul li a {
            color: $설명글자;
            &:hover {
                text-decoration: underline;
                opacity: .7;
            }
        }
        .footTop {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $설명글자;
            padding-top: 15px;
            @include respond($mobile767) {
                flex-wrap: wrap;
            }
            ul {
                .first_text {
                    padding: 10px 0;
                }
                li {
                    padding: 2px 0;
                    &.first_text>a {
                        color: $링크서브 !important;
                        font-size: 1.25em;
                        font-weight: 500;
                    }
                    a {
                        color: #fff;
                        font-size: 0.9em;
                        img {
                            width: 20px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .footBottom {
            >ul>li, p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .BottomBox1 {
                display: flex;
                justify-content: space-between;
                @include respond($mobile767) {
                    display: none;
                }
                li {
                    &.first_text>a {
                        color: $링크서브 !important;
                        font-weight: 500;
                    }
                    a {
                        color: #fff;
                        font-size: 1em;
                    }
                }
            }
            .BottomBox2 {
                display: flex;
                justify-content: space-between;
                width: 30%;
                margin: 0 auto;
                padding: 15px 0 10px;
                @include respond($pc1024) {
                    width: 40%;
                }
                @include respond($mobile767) {
                    width: 75%;
                    padding: 0px 0 15px;
                }
                li {
                    border: 2px solid #fff;
                    border-radius: 5px;
                    font-weight: 500;
                    width: 27%;
                    margin: 0 5px;
                    padding: 5px 0;
                    text-align: center;
                    @include respond($mobile767) {
                        padding: 3px 0;
                        width: 27%;
                    }
                    a {
                        color: #fff;
                    }
                }
            }
            .BottomBox3 {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;
                width: 70%;
                margin: 0 auto;
                @include respond($mobile767) {
                    padding: 0 0 20px;
                    flex-wrap: wrap;
                }
                li {
                    color: #999;
                    font-size: 1em;
                }
            }
            p {
                color: #999;
                font-size: 1em;
                text-align: center;
            }
        }
    }
}

#search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    transition: all .5s;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    .search-header {
        height: 95px;
        background: #fff;
        display: flex;
        @include respond($pc1024){
            height: 70px;
        }
        form {
            flex: 1;
            input {
                height: 95px;
                padding: 30px 35px;
                padding-right: 0 !important;
                outline: none;
                border: 0;
                border-radius: 0;
                appearance: none;
                display: block;
                width: 100%;
                box-sizing: border-box;
                font-size: 20px;
                font-weight: 500;
                @include respond($pc1024){
                    height: 70px;
                    padding: 18px 25px;
                    font-size: 18px;
                }
            }
        }
        .btn-close {
            width: 90px;
            height: 90px;
            cursor: pointer;
            background: url(../img/icon-x.svg) 50% 50% no-repeat;
            display: block;
            text-indent: -999em;
            overflow: hidden;
            @include respond($pc1024){
                width: 70px;
                height: 70px;
            }
        }
    }
}
#search.active {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    .search-header {
        transform: translateY(0);
        transition-delay: .2s;
    }
}